<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spai.remotedesktop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/airpc"
        android:label="@string/app_name"
        android:debuggable="true"
          >
        <activity
            android:label="@string/app_name"
            android:name=".JmdnstestActivity"
            android:configChanges="orientation" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
            <activity android:name=".RemoteDesktopTestActivity"
                android:configChanges="orientation"
                 android:theme="@android:style/Theme.NoTitleBar"
                 >
                
            </activity>
            
                <activity android:name=".Settings"
                    ></activity>
    </application>

</manifest>